<footer class="main-footer">
    <strong>Copyright &copy; 2022 <a asp-controller="Dashboard" asp-action="Index">Member App</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>